@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --blue-color: #3252df;
  --dark-blue-color: #152c5b;
  --sidebar-bg-color: #203fc7;
  --sidebar-icon-color: #ffffff;
  --sidebar-active-icon-color: #fff;
  --sidebar-active-bg-color: #1a1b1e2b;
  --sidebar-active-before-color: #1a1b1e;
  --admin-navbar-bg-color: #f8f9fb;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.labelCustom {
  color: #152c5b;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0%;
}

.muioutlinedinput-root {
  & fieldset {
    border: none;
  }
}
