@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --blue-color: #3252df;
  --dark-blue-color: #152c5b;
  --sidebar-bg-color: #203fc7;
  --sidebar-icon-color: #ffffff;
  --sidebar-active-icon-color: #fff;
  --sidebar-active-bg-color: #1a1b1e2b;
  --sidebar-active-before-color: #1a1b1e;
  --admin-navbar-bg-color: #f8f9fb;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.labelCustom {
  color: #152c5b;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0%;
}

.muioutlinedinput-root {
  & fieldset {
    border: none;
  }
}
    /* =============== Rooms ========================== */

.imgTable{
 width: 80px;
 height: 80px;
 border-radius: 50%;
  object-fit: cover; 
}

.mui-confirm-btn {

  background-color: #1976d2; /* MUI primary */
  color: white;
  margin-left: 14px;
  padding: 10px 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.mui-confirm-btn:hover {
  background-color: #1565c0;
}

.mui-cancel-btn {
    margin-left: 14px;
  background-color: #e0e0e0;
  color: #000;
  padding: 10px 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.mui-cancel-btn:hover {
  color: white;
  background-color: #1565c0;
}
